## .NET / Visual Studio

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio
.vs/
*.user
*.userosscache
*.suo
*.userprefs

# Rider
.idea/

# VS Code
.vscode/

# NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

# Test results
[Tt]est[Rr]esult*/
*.trx
*.coverage
*.coveragexml

# ClickOnce
publish/
*.publish.xml
*.pubxml
*.pubxml.user
*.publishproj

# Others
*.log
*.tmp
*.bak
*.DotSettings.user
